<h1>GymPage</h1>

<div class="content">
   <div class="workouts-index-page">
      <fieldset>
      <legend>Recent Workouts Posted: </legend> 
      <% @recent_workouts.each do |workout| %>
         <h3><%= link_to workout_username(workout), user_path(workout.user) %></h3>
         <h5>Posted: <%= workout_posted_at(workout) %></h5>
         <p>"<%= workout.description %>"</p>
         <p><%= link_to "See more", user_workout_path(workout.user, workout) %></p>
         <br>
      <% end %>
      </fieldset>
   </div>
</div>