<h1>Welcome to GymPage!</h1>

<div class="content">
   <%= render partial: "layouts/alerts", locals: { object: @user } %>

   <div class="new-user-links">
      <ul>
         <li><%= link_to "Log In", login_path %></li>
         <li><%= link_to "Sign Up", new_user_path %></li>
         <li class="google-login"><%= link_to "Login with Google", '/auth/google_oauth2' %></li>
      </ul>
   </div>
</div>