<h1><%= "#{@user.first_name}" %>'s GymPage</h1>

<div>
  <h2>Workouts:</h2>
  <% @user.workouts.each do |workout| %>
    <%= link_to workout.formatted_date, workout_path(workout) %> -
    <%= workout.description %>
  <% end %>
</div>    