/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
   margin: 0;
   padding: 0;
   font-family: 'lato';
   text-align: center;
   box-sizing: border-box;
}

nav {
   top: 0rem;
   width: 100%;
   padding: 10px 0px;
   box-sizing: border-box;
   background-image: url('dark-gray.jpg');
   box-shadow: 0px 0px 15px 15px rgb(0, 0, 0);
   overflow: hidden;
   position: fixed;
   font-size: 17px;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
   background-image: linear-gradient(360deg, #f3c428, #e22e0ee0);
   box-shadow: 0px 7px 7px 0px black;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

nav li {
   margin: 10px;
}

nav li a {
   text-decoration: none;
   display: block;
   color: white;
   text-align: center;
   padding: 1rem 0.9rem;
   border-radius: 30px;
   display: flex;
   align-items: flex-start;
}

nav li a:hover {
   transition: all 10ms ease;
   background-image: linear-gradient(180deg, #f3c428, #e22e0ee0);
   box-shadow: 0px 7px 7px 0px black;
}

nav li a:active {
   font-size: 90%;
}

nav li.active {
   background-image: url('dark-gray.jpg');
   color: white;
   text-align: center;
   padding: 1rem 0.95rem;
   text-decoration: none;
   border-radius: 30px;
}

.message_explanation {
   display: inline-block;
   width: auto;
   padding: 10px 15px;
   font-weight: bold;
   margin-bottom: 35px;
   border-radius: 5px;
   background-color: rgb(131, 231, 131);
   color: rgb(15, 103, 15);
}

.error_explanation {
   display: inline-block;
   width: auto;
   padding: 10px 15px;
   font-weight: bold;
   margin-bottom: 35px;
   border-radius: 5px;
   background-color: lightpink;
   color: rgb(181, 16, 16);
}

.error_explanation ol {
   list-style-position: inside;
}

.error_explanation li {
   text-align: left;
}

body {
   background-image: url('gray-brick.jpg');
   font-size: 17px;

}

.wrapper {
   box-sizing: border-box;
   background-image: linear-gradient(90deg, #e22e0ee0, #f3c428);
   box-shadow: 0px 50px 50px 0px rgba(0, 0, 0);
   margin: 200px auto;
   max-width: 1000px;
   min-height: 400px;
   padding: 50px 50px 50px 50px;
   line-height: 25px;
   color: white;
   border-radius: 10px;
}

h1,
h2,
.center {
   text-align: center;
}

h1 {
   display: inline-block;
   padding: 20px;
   width: 80%;
   color: white;
   background-image: url('dark-gray.jpg');
   box-shadow: 0 5px 5px rgb(0, 0, 0);
   border-radius: 30px;
   margin-bottom: 50px;
}

h2 {
   margin-bottom: 25px;
   margin-top: 25px;
}

.wrapper a {
   color: black;
   padding: 10px;
}

.wrapper a:hover {
   color: white;
}

.left {
   text-align: left;
}

fieldset {
   margin-bottom: 20px;
   padding: 20px 20px 20px 0px;
   border-radius: 10px;
   border-color: rgb(90, 89, 89);
}

legend {
   background-image: url('dark-gray.jpg');
   box-shadow: 0px 5px 5px rgba(0, 0, 0);
   color: white;
   border-radius: 10px;
   margin: 10px 10px;
   padding: 5px 20px;
   font-size: 22px;
}

/* Login and SignUp Forms */
.signup-form label,
.login-form label {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 17px;
}

.signup-form input,
.login-form input {
   box-sizing: border-box;
   padding: 10px 10px 10px 10px;
   margin: 5px;
   border: 1px solid #ccc;
   width: 50%;
   border-radius: 5px;
   display: inline-block;
   font-size: 17px;
}

/* New Workout - first section */
.workout-form label {
   display: flex;
   justify-content: center;
   align-items: center;
}

.select-date label {
   display: inline;
}

/* New Workout - second section */
.add-routine-exercise label {
   display: flex;
   margin-top: 5px;
   margin-bottom: 5px;
}

input,
textarea,
select {
   box-sizing: border-box;
   padding: 5px 5px 5px 5px;
   margin: 5px;
   border: 1px solid #ccc;
   width: 40%;
   border-radius: 5px;
   display: inline-block;
   font-size: 17px;
}

select {
   cursor: pointer;
}

.select-date select {
   width: auto;
}

textarea {
   width: 75%;
   resize: none;
   overflow: auto;
}

input:focus,
textarea:focus,
select:focus {
   background-color: moccasin;
}

.new-user-links {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 35px;
   font-optical-sizing: 120%;
}

.new-user-links a {
   margin: 5px;
   padding: 1rem 1rem;
   text-decoration: none;
   text-transform: uppercase;
   width: 20%;
   background: #e22e0ee0;
   color: rgb(208, 203, 203);
   border-radius: 20px;
}

.google-login a {
   border-radius: 20px;
   padding: 1.1rem 1.2rem;
   width: 20%;
}

input[type=submit] {
   width: 20%;
   background: #e22e0ee0;
   color: white;
   padding: 10px;
   margin-top: 40px;
   border-radius: 30px;
   border: none;
   cursor: pointer;
}

input[type=submit]:hover,
.new-user-links a:hover {
   background-image: linear-gradient(360deg, #e22e0ee0, #f3c428);
   transition: all 0.4s ease;
}