/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
   margin: 0;
   padding: 0;
   font-family: 'arial';
   text-align: center;
   box-sizing: border-box;
}

nav {
   top: 0rem;
   width: 100%;
   padding: 10px 0px 10px 0px;
   background-image: linear-gradient(90deg, #e22e0ee0, #f3c428);
   box-shadow: 0px 0px 7px 7px black;
   overflow: hidden;
   position: fixed;
   font-size: 17px;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
   background-image: url('dark-gray.jpg');
   box-shadow: 0px 0px 7px 7px black;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

nav li {
   margin: 10px;
}

nav li a {
   text-decoration: none;
   display: block;
   color: white;
   text-align: center;
   background-image: linear-gradient(360deg, #f5c21c, #dd2404e0);
   box-shadow: 0px 7px 7px 0px black;
   padding: 1rem 1.5rem;
   border-radius: 15px;
   display: flex;
   align-items: flex-start;
}

nav li a:hover {
   background-image: linear-gradient(180deg, #f3c428, #e22e0ee0);
   transition: all 0.4s ease;
   text-decoration: none;
   color: white;
}

nav li a:active {
   font-size: 90%;
   box-shadow: 0px 0px 0px 0px black;
}

nav li.active {
   background-image: url('dark-gray.jpg');
   color: white;
   text-align: center;
   padding: 1rem 1.5rem;
   text-decoration: none;
   border-radius: 15px;
}

.message_explanation {
   width: 100%;
   display: grid;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 25px;
   margin-bottom: 25px;
   padding: 10px 10px;
   border-radius: 5px;
   background-color: rgb(131, 231, 131);
   color: rgb(15, 103, 15);
}

.error_explanation {
   width: 100%;
   display: grid;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 25px;
   margin-bottom: 25px;
   padding: 10px 10px;
   border-radius: 5px;
   background-color: lightpink;
   color: rgb(128, 30, 30);
}

.error_explanation ol {
   list-style-position: inside;
}

.error_explanation li {
   text-align: left;
}

div.field_with_errors+br {
   display: none
}

.field_with_errors input[type="text"],
.field_with_errors select,
.field_with_errors textarea {
   border: 2px solid red;
}


body {
   background-image: url('gray-brick.jpg');
   font-size: 16px;
}

.wrapper {
   box-sizing: border-box;
   background-image: linear-gradient(90deg, #e22e0ee0, #f3c428);
   box-shadow: 0px 50px 50px 0px black;
   margin: 200px auto;
   max-width: 900px;
   padding: 50px 50px 50px 50px;
   line-height: 25px;
   color: white;
   border-radius: 10px;
}

.content {
   box-sizing: border-box;
   justify-content: center;
   padding: 0px 50px 0px 50px;

}

h1,
h2,
.center {
   text-align: center;
}

h1 {
   display: inline-block;
   padding: 5px 20px;
   width: auto;
   color: white;
   background-image: url('dark-gray.jpg');
   box-shadow: 0 5px 5px rgb(0, 0, 0);
   border-radius: 15px;
}

.wrapper a {
   color: black;
   padding: 10px;
}

.wrapper a:hover {
   color: white;
}

.left {
   text-align: left;
}

.workouts-index-page legend a {
   text-decoration: none;
   color: white;
}

.workouts-index-page legend a:hover {
   font-size: 107%;
   transition: all 0.4s ease;
}

hr {
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   border-top: 1px solid rgb(47, 46, 46);
}

hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
}

hr {
   display: block;
   unicode-bidi: isolate;
   margin-block-start: 2rem;
   margin-block-end: 2rem;
   margin-inline-start: auto;
   margin-inline-end: auto;
   overflow: hidden;
   border-style: groove;
   border-width: 1px;
}

legend {
   background-image: url('dark-gray.jpg');
   box-shadow: 0px 5px 5px black;
   color: white;
   border-radius: 15px;
   margin: 5px 5px;
   padding: 5px 5px;
   width: auto;
   min-width: 50%;
   font-size: 22px;
}

label {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
}

.select-date label {
   display: inline;
}

input,
textarea,
select {
   box-sizing: border-box;
   padding: 10px 10px 10px 10px;
   margin: 5px;
   border: 1px solid #ccc;
   width: 50%;
   border-radius: 5px;
   display: inline-block;
   font-size: 16px;
}

select {
   cursor: pointer;
}

.select-date select {
   width: auto;
}

textarea {
   width: 75%;
   resize: none;
   overflow: auto;
}

input:focus,
textarea:focus,
select:focus {
   background-color: moccasin;
}

.new-user-links {
   margin-top: 50px;
}

.new-user-links li {
   list-style-type: none;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.google-login a,
.new-user-links a {
   align-content: center;
   margin: 5px;
   padding: 1rem 1rem;
   text-decoration: none;
   background: #e22e0ee0;
   color: white;
   border-radius: 20px;
   width: 50%;
}

.google-login a {
   background: #200ee2e0;
}

input[type=submit] {
   display: inline-block;
   width: 50%;
   background: #e22e0ee0;
   color: white;
   padding: 20px 10px;
   margin-top: 50px;
   border-radius: 30px;
   border: none;
   cursor: pointer;
   white-space: normal;
}

input[type=submit]:hover,
.new-user-links a:hover {
   background-image: linear-gradient(180deg, #9b210be0, #f83e1de0);
   transition: all 0.4s ease;
}

.new-user-links a:hover {
   font-size: 110%;
}

.google-login a:hover {
   background-image: linear-gradient(180deg, #110789, #4c47eb);
}

.btn-outline-success {
   margin-block-end: 1.5rem;
}

a.add_fields,
a.remove_fields {
   color: white;
}

.btn.btn-outline-success,
.btn.btn-outline-danger {
   background-color: transparent;
}

.btn-outline-danger:hover {
   background-image: url('dark-gray.jpg');
   border-color: #ec162b;
}

.btn-outline-success:hover {
   background-image: url('dark-gray.jpg');
   border-color: #0d8a2a;
}