<h1>All Exercises</h1>

<div class="content">
   <div>
      <% @exercises.each do |exercise| %>
         <h3><%= link_to exercise.name, exercise %></h3>
         <h5><%= exercise.category %><h5>
         <p><%= link_to "View routines", exercise_routines_path(exercise) %></p>
         <br>
      <% end %>
   </div>
</div>