<h1>All Exercises</h1>

<div class="center">
  <% @exercises.order(created_at: :desc).each do |exercise| %>
    <big><%= link_to exercise.name, exercise %><br></big>
    <%= exercise.category %><br>
    <%= link_to "View routines completed", exercise_routines_path(exercise) %>
    <br><br><br>
  <% end %>
</div> 