<h1>All Exercises:</h1>

<% @exercises.each do |exercise| %>
  <strong><%=link_to exercise.name, exercise %></strong> - 
  Added by: <%= link_to full_name(exercise.user), user_path(exercise.user_id) %> - 
  <%= exercise.category %><br><br>
<% end %>